<p>home works!</p>
<div class="home-container">
    <form action="#">
        <label for="comp">Selecciona un componente</label>
        <select name="selector" [(ngModel)]="seleccion" id="comp" >
            <option value="1">Reloj de arena</option>
            <option value="2">Reloj Digital</option>
            <option value="3">Reloj Analogico</option>
            <option value="4">Reloj de velas</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option></option>

        </select>
    </form>

    <app-time (horaActual)="actualizarHora($event)"></app-time>
    
    <app-reloj-arena *ngIf="seleccion === '1'" [hora]="hora"></app-reloj-arena>
    <app-reloj-Digital *ngIf="seleccion === '2'" [hora]="hora"></app-reloj-Digital>
    <app-reloj-analogico *ngIf="seleccion === '3'" [hora]="hora"></app-reloj-analogico>
    <app-reloj-vela *ngIf="seleccion === '4'" [hora]="hora"></app-reloj-vela>
    
</div>